* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    -cor-primeira: #405173;
    -cor-segunda: #435C73;
    -cor-terceira: #6D8C75;
    -cor-quarta: #77A66A;
    -cor-quinta: #AED98F;
}

header {
    background-color: rgb(54 78 105);
    /*height: 100px;*/
    display: flex;
    justify-content: space-between;

}

img {
    height: 300px;
    width: 300px;
}

.safe {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120%;
    text-align: center;

}

#adquira {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    background-color: #405173;
    height: 80px;
    width: 300px;
    margin: 20px;
    font-size: 4vh;
    font-family: 'Lobster', cursive;
    color: #AED98F;
}

#adquira:hover {
    background-color: #6D8C75;
}

.seguros {
    margin-left: 12px;
    color: white;
    font-size: 35px;

}

nav ul {
    display: flex;
    column-gap: 30px;
    margin-right: 12px;
    color: white;
    text-transform: uppercase;
    list-style: none;
    font-size: 25px;
}

.bloco {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 40px;

}

.bloco:nth-of-type(1) {
    background-image: url("img/couple-955926.jpg");
    margin: 0px 0px 40px 0px;
    padding-right: 20px;
    text-align: right;
    justify-content: center;
}

.bloco:nth-of-type(2) {
    background-image: url("img/pexels-curtis-adams-15062125.jpg");
    margin: 0px 0px 40px 0px;
    padding-right: 20px;
    text-align: left;
    justify-content: center;
}

.bloco:nth-of-type(3) {
    background-image: url("img/kwid_intense_021-1200x800.webp");


}

#bloco-2 {
    display: flex;
    /*  justify-content: right;*/
    flex-direction: column;
    align-items: flex-end;
}

#bloco-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bloco-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.box {
    color: white;

    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
    margin-top: 30px;

}

fieldset {
    border: 3px solid #405173;
}

legend {
    border: 1px solid #405173;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    border-radius: 8px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 40px;
    width: 95%;

}

.inputBox {


    transition: .5px;
}

.inputUser:focus~.labelInput {
    top: -20px;
    font-size: 35px;
}

#submit {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    border-radius: 10px;
}

.labelInput {
    color: #AED98F;
}

#redessociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

nav#redessociais p {
    color: white;
    font-size: 30px;

}

@media screen and (max-device-width : 480px) {
    /* celulares */  
    .seguros h1, p {
        font-size: 50%;
    }

    #contato li {
        font-size: 50%;
    }

}

@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
    /* tablets */
    .seguros h1, p {
        font-size: 50%;
    }
    #contato li {
        font-size: 50%;
    }
}